<!DOCTYPE html>
<html>
  <head>
    <title>WAR REPORT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    </script>
  </head>
  <body>
    <table style="width: 100%; border: 2px red solid">
      <tr style="border: 2px red solid">
        <th colspan="4"><h2>WAR REPORT</h2></th>
      </tr>
      <tr style="border: 2px red solid">
        <th colspan="4"><h2>Total Rounds <%= self.total_record.inject(0){|sum, records| sum + records[:rounds]}%></th>
      </tr>
      <tr style="border: 2px red solid">
        <th colspan="4"><h2>Total Wars <%= self.total_record.inject(0){|sum, records| sum + records[:wars]}%></th>
      </tr>
      <tr style="border: 2px red solid">
        <td style="border: 2px red solid">Game#</td>
        <td style="border: 2px red solid">Winner</td>
        <td style="border: 2px red solid">Rounds</td>
        <td style="border: 2px red solid">Wars</td>
      </tr>
      <% i = 0 %>
      <% while i < self.total_record.length %>
      <tr style="border: 2px red solid">
        <td style="border: 2px red solid"><%= "Game #{i + 1}" %></td>
        <td style="border: 2px red solid"><%= self.total_record[i][:winner] %></td>
        <td style="border: 2px red solid"><%= self.total_record[i][:rounds] %></td>
        <td style="border: 2px red solid"><%= self.total_record[i][:wars] %></td>
        <% i += 1 %>
      </tr>
      <%end%>
    </table>
  </body>
</html>



      <tr>
